extends ../layout

include ../partials/navbar
include ../partials/modal-form

block content
  +navbar(
    [
    ],[
      {"id": "register-nav", "href": "#register-modal", "label": "Register"},
      {"id": "login-nav", "href": "#login-modal", "label": "Login"}
    ])
  +modal-form("login-modal", "Login", "/login", [
    {"id": "login-username", "name": "username", "type": "text", "label": "Username"},
    {"id": "login-password", "name": "password", "type": "password", "label": "Password"}
    ])
    a.badge.badge-secondary(data-toggle="modal" data-dismiss="modal" href="#register-modal")
      | New user?
  +modal-form("register-modal", "Register", "/register", [
    {"id": "register-username", "name": "username", "type": "text", "label": "Username"},
    {"id": "register-password", "name": "password", "type": "password", "label": "Password"}
    ])
    a.badge.badge-secondary(data-toggle="modal" data-dismiss="modal" href="#login-modal")
      | Already a user?


append body
  script(src="js/authenticate.js")
