extends ../layout

include ../partials/navbar

block content
  +navbar(
    [
      {"id": "dashboard-nav", "href": "/dashboard", "label": "Dashboard"}
    ],[
      {"id": "new-nav", "href": "/new", "label": "New Script"},
      {"id": "logout-nav", "href": "/logout", "label": "Logout"}
    ])